<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h2>Create an Account  </h2>
        <form action="/register" method="POST">
            
            <label for="Email" id="Email_label">Email:</label>  
            <input type="email" required id ="Email"name="Email">
        </div>
        <div>
            <label for="Password">Password:</label>  
            <input type="password" required id ="Password"name="Password" >
            <div>
            <input type="submit" value="Submit">

        </form>

        

    </div>
</body>
</html>